.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25rem;
    /* height: 16rem; */

    display: flex;
    flex-direction: column;

    border-radius: 1rem;

    /* test */
    background-color: var(--background);
    box-shadow: 0.5rem 0.5rem 1rem var(--shadow);
}

.modal h3{
    padding: 1rem;
    border-bottom: 1px solid black;
}

.modal form{
    flex-grow: 1;
    padding: 1rem;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 1rem;
}

.input input{
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border: none;
    border: 1px solid var(--text);
}

.input input:focus{
    outline: none;
    border: 2px solid var(--accent);
}

.errorTxt{
    font-style: italic;
    font-size: 0.8rem;
    color: red;
    display: none;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.buttons button{
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 1px solid var(--text);
    color: var(--text);
}

.buttons button:hover{
    cursor: pointer;

    /* test */
    color: var(--accent);
    border: 2px solid var(--accent);
}